body{
    margin:0 auto;
}
nav{
    border-bottom: solid 3px #777879;

}
.banner_container{
    margin-bottom: -4px;
}
nav ul{
    list-style-type: none;
    height: 50px;
    line-height: 50px;
    text-align: center;
    padding-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    display: flex;

}
nav ul li{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;


}
.nav_item{
    width: 12.5%;
    height: 50px;


}
.nav_text{
    font-family: "impact", sans-serif;
    font-size: 16.67px;
    color: #26303d;
}
.knockout{
    background-color: #26303d;
    color: #f2f5fa;

}
.divider{
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 50px;
}
.descrip_container{
    background-color: #e5ecf5;
    padding: 90px 180px 90px 180px;
    margin-top: -4px;
}
.descrip{
    text-align: center;
    font-family: "helvetica neue", sans-serif;
    color: #334152;
    font-size: 25.67px;
    font-weight: 200;
}
.image_rows{
    float: left;
}
div.banner_container{
    background: url('images/header_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
}

/*div.headline {*/
    /*background: url('images/headline_background.jpg') no-repeat;*/
    /*background-size:100%;*/
    /*height:37px;*/

/*div.view_more{*/
    /*background: url("images/red_banner.jpg") no-repeat;*/
    /*background-size: 100%;*/
    /*height: 153px;*/
/*}*/

.img_row2_container{
    margin-top: -4px;
}

.product>.copy{
    float: right;
    font-family: "impact", sans-serif;
    font-size: 36px;
    color: #405167;
    background-color: #ffffff;
    padding: 90px;
    text-align: right;
    text-shadow: 0px 2px 4px #A8A8A8;
    -webkit-text-stroke: 1px #d9e3f0;
    width: 100%;

}
.product_detail{
    width: 33.33%;
    float: left;
    display: inline;
    text-align: center;
}
.product_detail>img{
    width: 200px;

}
.product_buttons{
    display: inline;
}
footer{
    background: url('images/footer_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
    clear: both;
}
.footer_overlay{
    background-color: #334152;
    opacity: .9;
    width: 100%;
    height: 237px;
    position: absolute;
    bottom: 0;
}
.footer_content{
    width: 100%;
}
.title{
    width: 24%;
    display: inline-block;
    color: white
}
.title ul li{
    list-style-type: none;
}
.title ul{
    padding-left: 0;
}