/*
	Theme Name: MortaliTheme
	Theme URI: http://mortali.com
	Description: Mortali Theme
	Version: 1.4.3
	Author: Sean Cooper
	Author URI: http://successean.com
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
* {
  margin: 0;
}

/* html element 62.5% font-size for REM use */
html {
	font-size:62.5%;
	height: 100%;
}
body {
	font-family: 'Montserrat', sans-serif;
	color:#000;
	height: 100%;
}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	/*vertical-align:bottom;*/
}
a {
	color:#444;
	text-decoration:none;
}
a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/
body{
    margin:0 auto;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -60px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.content-wrapper {
	width:90%; 
	margin: 0 auto;
	overflow: hidden;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}


/*------------------------------------*\
    HEADER TOP BAR
\*------------------------------------*/

.header-wrapper {
	width: 92%;
	margin:0 auto;
	padding-top: 15px;
	overflow: hidden;
}
.header-logo {
	float: left;
}
.header-logo img.header-logo-img {
	margin-right: 10px;
	vertical-align: middle;
	height: 35px;
}
span.header-logo-text {
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#000;
	display: inline-block;
	vertical-align: middle;
}

.header-actions {
	float: right;
    margin-right: 30px;
}
.header-actions ul li {
	display: inline-block;
	vertical-align: middle;
	padding-top: 5px;
	font-family: 'Circular';
	font-weight: 500;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#fff;
    margin-left: 10px;
    margin-right: 10px;
}

.header-actions ul li a {
	color:#fff;
}
.header-actions ul li span#cart-amount {
	color:#979797;
	font-size: 13px;
}


/*------------------------------------*\
    HEADER NAVIGATION
\*------------------------------------*/
.nav-bar {
	overflow: hidden;
	padding-bottom: 12px;
}
.nav-wrapper {
	width: 92%;
	margin:0 auto;
}
ul#menu-header-menu {
	float: left;
}
ul#menu-header-menu li a {
	color:#fff;
}
ul#menu-header-menu li a:hover {
	text-decoration: underline;
}

.nav-promo {
	float: right;
}
.nav-promo p {
	font-family: 'EB Garamond 12';
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
	color:#f76f25;
}

/*------------------------------------*\
    FRONT PAGE HERO BANNER
\*------------------------------------*/

.hero-banner {
	background-size: cover;
	height:600px;
}
.hero-block {
	overflow: hidden;
	height: 100%;
}
.hero-block-left {
	float: left;
	width: 65%;
	height: 100%;
	text-align: center;
}
.hero-block-left img {
	width: 250px;
	position: relative;
	top:50%;
	transform: translateY(-50%);
}

.hero-block-right {
	float: left;
	width: 35%;
	height: 100%;
	padding: 80px 28px;
	text-align: center;
}

.hero-block-right h2 {
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 34px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	line-height: 1.5em;
	text-align: right;
	color:#fff;
	margin-bottom: 30px;
}
.hero-block-right ul {
	width: 40%;
	margin:0 auto;
	border-left:1px solid rgba(255, 255, 255, 0.5);
}
.hero-block-right ul li {
	font-family: 'Aktiv Grotesk';
	font-weight: 300;
	font-size: 26px;
	text-transform: lowercase;
	color:rgba(255, 255, 255, 0.8);
	line-height: 1.4em;
	text-align:left;
	padding-left: 20px;
	margin-bottom: 25px;
}
.hero-block-right button{
	margin-top: 15px;
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.82);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
	color: #fff;
	border: 0;
	height: 40px;
	width: 180px;
	position: relative;
}

.hero-block-right button:after {
	content: url(img/arrow-btn-right.png);
    position: absolute;
    right: 12px;
}
.hero-block-right button:hover {
	color:#fff;
}

/*------------------------------------*\
    FRONT PAGE BROWSE CATS
\*------------------------------------*/
.browse-cats {
	overflow: hidden;
	margin: 0 auto;
	width: 80%;
	padding-top: 30px;
	padding-bottom: 20px;
	text-align: center;

}
.browse-cats h4 {
	font-family: 'Aktiv Grotesk';
	font-weight: 300;
	font-size: 26px;
	text-transform: lowercase;
	letter-spacing: 0.1em;
	color:#000;
}
.browse-cats h5 {
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#000;
	padding-bottom: 20px;
}
.browse-cats div{
	float: left;
	width: 33.3%;
	text-align: center;
	margin-top: 75px;
	margin-bottom: 75px;
}
.browse-cats .browse-cat-2 {
	border-left: 2px solid rgba(0,0,0,0.7);
	border-right: 2px solid rgba(0,0,0,0.7);
}


/*------------------------------------*\
    FRONT PAGE SHOP CATS
\*------------------------------------*/
.shop-cats {
	overflow: hidden;
}

.shop-cat-1 {
	overflow: hidden;
	background-size: 100% 100%;
	border-top: 3px solid #000;
}
.shop-cat-1 .shop-cat-img {
	float: left;
	width: 60%;
	height: 100%;
}
.shop-cat-1 .shop-cat-text {
	height: 100%;
	background-color: transparent;
	background-size: cover;
	float: left;
	width: 40%;
	padding: 80px 28px;
	text-align: center;

}

.shop-cat-2 {
	overflow: hidden;
	background-size: 100% 100%;
}
.shop-cat-2 .shop-cat-img {
	float: left;
	width: 50%;
	height: 100%;
}
.shop-cat-2 .shop-cat-text {
	height: 100%;
	float: left;
	width: 50%;
	padding: 80px 28px;
	text-align: center;

}

.shop-cat-text h2 {
	font-family: 'Circular';
	font-weight: 500;
	font-size: 38px;
	letter-spacing: 0.075em;
	line-height: 1.2em;
	text-transform: uppercase;
	color:#000;
	padding-bottom: 10px;
}

.shop-cat-text h4 {
	font-family: 'Aktiv Grotesk';
	font-weight: 300;
	font-size: 24px;
	text-transform: lowercase;
	letter-spacing: 0.075em;
	color:#000;
	padding-top: 10px;
	margin-bottom: 20px;
}

.shop-cats button {
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
	height: 50px;
	width: 200px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}
.shop-cats button:hover {
	    background-color: rgba(0, 0, 0, 0.82);
	border:rgba(0, 0, 0, 0.82);
	color:#fff;
}




/*------------------------------------*\
    ACTIVE BLOCKS
\*------------------------------------*/
.active-blocks {
	overflow: hidden;
}
.active-blocks-wrapper {
	width: 99%;
	margin: 0 auto;
	padding-top: 75px;
	padding-bottom:75px;
    text-align: center;
}
.active-block-1 {
	text-align: center;
}
.active-block-1 h3 {
	font-family: 'Circular';
	font-weight: 500;
	font-size: 34px;
	letter-spacing: 0.075em;
	line-height: 1.2em;
	text-transform: uppercase;
	color:#000;
	padding-bottom: 10px;
}
.active-block-1 h5 {
	font-family: 'Aktiv Grotesk';
	font-weight: 300;
	font-size: 19px;
	letter-spacing: 0.05em;
	color:#000;
	padding-top: 8px;
	padding-bottom: 4px;
}
.active-block-1 p {
	font-family: 'Circular';
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2em;
	color:#000;
}


.active-block-2 {
	float: left;
	width: 30%;
	max-height: 346px;
	margin-right: 3.3%;
	text-align: center;
}
.active-block-2 .ig-shots {
	position: relative;
}
.active-block-2 .ig-shots img{
	position: relative;
	width: 100%;
	max-height: 346px;
}
.active-block-2 .ig-shots button{
	position: absolute;
	bottom:7px;
	right:0;
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	    background-color: rgba(0, 0, 0, 0.82);
	color: #fff;
	border: 0;
	height: 55px;
	width: 170px;
}

.active-block-3 {
	float: left;
	width: 30%;
	height: 279px;
	text-align: center;
	background-size: 100% 100%;
	border: 6px solid #000;
	padding:15px 10px;
}
.active-block-3 h4 {
	font-family: 'Aktiv Grotesk';
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 0.075em;
	line-height: 1.2em;
	text-transform: lowercase;
	color:#000;
	padding-bottom: 10px;
	margin-bottom: 25px;
}
.active-block-3 h2 {
	font-family: 'Circular';
	font-weight: 500;
	font-size: 48px;
	letter-spacing: 0.075em;
	line-height: 1em;
	text-transform: lowercase;
	color:#f76f25;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: top;
}
.active-block-3 h2 span.grand-text{
	font-size: 100px;
}
.active-block-3 h3 {
	font-family: 'Circular';
	font-weight: 500;
	font-size: 26px;
	letter-spacing: 0.075em;
	line-height: 1.15em;
	text-transform: uppercase;
	color:#f76f25;
	padding-bottom: 10px;
	display: inline-block;
	vertical-align: top;
	padding-bottom: 10px;
}
.active-block-3 h3 span.grand-text{
	font-size: 64px;
}
.active-block-3 p {
	font-family: 'Aktiv Grotesk';
	font-weight: 300;
	font-size: 17px;
	letter-spacing: 0.04em;
	line-height: 1.3em;
	color:#000;
	padding-bottom: 0;
	margin-bottom: 0;
	width: 75%;
	margin:0 auto;
}
.active-block-3 p strong{
	font-family: 'Circular';
	font-weight: 500;
	font-size: 21px;
}

.active-block-3 button{
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 11px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
	border: 0;
	height: 36px;
	width: 160px;
	margin-top: 10px;
	position: relative;
}
.social_img {
    width:31.3%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    height: 280px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*------------------------------------*\
    SLICK SLIDE
\*------------------------------------*/
.slick-slide img {
	margin: 0 auto !important;
}

/*------------------------------------*\
    ABOUT
\*------------------------------------*/
.about-main {
	width:100%;
}
.about-background {
	background: url('img/ellipse-bg.png');
    background-size:cover;
    background-position: 30% -178px;
    background-repeat: no-repeat;
}
.about-section {
	padding-top: 40px;
}
.about-section h1 {
	margin: 0;
	font-family: "helvetica neue", sans-serif;
	font-size: 24px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 500;
}

.about-section h2 {
	margin-top:20px;
	font-family: "helvetica neue", sans-serif;
	font-size: 48px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 200;
	border:1px solid #fff;
	width:545px;
	padding:0;
	text-align:center;
}

.about-section p {
	margin-top: 175px;
	width:50%;
	font-family: "helvetica neue", sans-serif;
	font-weight: 400;
	font-size: 15px;	
	color:#26303d;
	line-height: 1.75em;
}

.about-sub-section {
	margin-top: 50px;
	background: url('img/blue-stars-bg.png');
    background-size:contain;
    background-repeat: no-repeat;
}
.about-sub-images {
	float: left;
	width:60%;
}
.about-sub-caption {
	float: left;
	width:40%;
}
.about-sub-caption h2 {
	margin-top:70px;
	font-family: "helvetica neue", sans-serif;
	font-size: 48px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 200;
	border:1px solid #fff;
	width:545px;
	padding:0;
	text-align:center;
}
.about-sub-caption p {
	margin-top: 20px;
	font-family: "helvetica neue", sans-serif;
	font-weight: 400;
	font-size: 15px;	
	color:#fff;
	line-height: 1.75em;
}
.about-sub-images img{
	margin-top: 70px;
	margin-right: 30px;
}

.about-sub-section .content-wrapper {
	padding-bottom: 40px;
	border-bottom: 1px solid #fff;
}
.about-sub-section-2 {
	text-align: center;
}
.about-sub-section-2 h2 {
	margin-top: 50px;
	font-family: "helvetica neue", sans-serif;
	font-weight: 500;
	font-size: 22px;	
	color:#f23a62;
	line-height: 1.75em;
	text-transform: uppercase;
	text-align: left;
}
.about-sub-section-2 h3 {
	margin-top: 10px;
	font-family: "helvetica neue", sans-serif;
	font-size: 48px;
	color:#26303d;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 200;
	border:1px solid #26303d;
	width:545px;
	padding:0;
	text-align:center;
}
.about-sub-section-2 img {
	margin-top: 70px;
}


/*------------------------------------*\
    PAGE TEMPLATE
\*------------------------------------*/

.page-section {
    margin: 50px auto 0;
    width:90%;
}
.page-section h1 {
    margin-top: 10px;
	font-family: "helvetica neue", sans-serif;
	font-size: 48px;
	color:#26303d;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 200;
	border:1px solid #26303d;
	width:90%;
	padding:5px;
	text-align:center;
    margin: 0 auto;
    margin-bottom: 50px;
}

@media screen and (max-width:500px) {
    .page-section h1 {
        font-size:36px;
    }
}

/*------------------------------------*\
    COMING SOON
\*------------------------------------*/
.coming-soon-background {
	background: url('img/ellipse-bg.png');
    background-size:cover;
    background-position: 70%;
    background-repeat: no-repeat;
}
.coming-soon-section h1 {
	margin: 0;
	font-family: "helvetica neue", sans-serif;
	font-size: 24px;
	color:#fff;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 500;
    
}


/*------------------------------------*\
    CONTACT
\*------------------------------------*/

.contact-section {
	margin-top: 50px;
	width:45%;
	float:left;
	overflow: hidden;
}

.contact-section h1 {
	margin: 0;
	font-family: 'Impact';
	font-size: 42px;
	color:#8b8b8b;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-weight: 500;
}

.contact-area {
	margin-top: 30px;
	padding: 30px 40px 30px 50px;
	background: #F4F4F4;
    font-size: 22px;
}

.contact-grid p {
	margin: 1em 0;
}
.contact-grid img {
	margin: 1em 0.2em;
}
.contact-form {
	margin-top: 135px;
	width:50%;
	float:left;
	text-align: center;
}
.contact-form p {
	font-family: "helvetica neue", sans-serif;
	font-size: 15px;	
	color:#070707;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
	border: 2px solid #8b8b8b;
	border-radius: 4px;
    padding: 5px;
    clear: both;
    width: 75%;
    margin-bottom: 1em;
}

.contact-form input[type=submit] {
	padding: 12px 26px;
    background: #4380d0;
    color: #FFF;
    text-transform: uppercase;
    font-family: "helvetica neue", sans-serif;
    border: none;
    border-radius: 4px;
    width: 50%;
    letter-spacing: 4px;

}


/*------------------------------------*\
    WOOCOMMERCE UNIVERSAL
\*------------------------------------*/
.woocommerce-page main,
.woocommerce-page #container{
    padding-top: 175px;
    width: 90%;
    margin: 0 auto;
}
.woocommerce-page main h1,
.woocommerce-page #container h1{
    text-align: center;
    margin-bottom: 10px;
}
span.sort-by {
	font-family: 'Circular';
	font-weight: normal;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #c3ac96;
	margin-right: 12px;
	line-height: 2.5em;
}
.woocommerce span.onsale {
	display: none;
}



/*------------------------------------*\
    SHOP
\*------------------------------------*/

.woocommerce-message {
    font-size: 14px !important;
    font-weight: 600 !important;
}
.content-area {
    text-align: center;
}
.grid {
    position: relative;
}
.product-col-border img {
	width:75%;
}
/*.woocommerce div.product {
	width:33%;
	float:left;
	margin-top: 50px;
	margin-bottom: 120px;
}*/
.btn-product-info {
	background: #fff;
}

.desc {
    display: none;
}


/*------------------------------------*\
    ARCHIVE PRODUCT
\*------------------------------------*/

body.archive h1 {
	text-align: left;
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #000;
}

body.archive ul.products {
    padding-top: 10px;
    width: 92%;
    margin: 0 auto;
}

body.archive p.woocommerce-result-count {
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 20px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #000;
	margin-left: 250px;
	display: none;
}

body.archive select.orderby {
	border-radius: 0;
	border: 0;
	height: 24px;
	font-family: 'Circular';
	font-weight: normal;
	font-weight: bold;
	font-size: 9px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: rgba(237, 235, 232, 0.8);
	color: rgba(51, 51, 51, 0.4);
	-webkit-box-shadow: 1px 1px 5px 0px rgba(212,196,180,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(212,196,180,1);
	box-shadow: 1px 1px 5px 0px rgba(212,196,180,1);
	display: none;
}

/*body.archive  ul.products {
	margin-left: 275px;
}*/
/*body.archive  ul.products li.product {
	width: 30%;
}*/
.grid {
	display: none;
}

body.archive  ul.products li.product h3{
	font-family: 'Aktiv Grotesk';
	font-weight: 300;
	font-size: 15px;
    line-height: 1.35em;
	letter-spacing: 0.05em;
	color:#000;
	padding-top: 8px;
	padding-bottom: 4px;
    height: 100px;
}
body.archive  ul.products li.product .price {
	font-family: 'Aktiv Grotesk';
	font-weight: normal;
	font-size: 18px;
	letter-spacing: 0.1em;
	color:#000;
    height: 50px;
}

body.archive  ul.products li.product .price ins {
	font-weight: normal;
	font-size: 15px;
	text-decoration: none;
}

body.archive  ul.products li.product .button{
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #000;
	color: #000;
    text-align: center;
    margin: 0 auto;
	width: 130px;
	padding-top: 11px !important;
    padding-bottom: 11px !important;
    display: block;
}
a.cont_shopping button {
    	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: #000;
	border: 2px solid #000;
	color: #fff;
    padding:10px;
    outline:0;
}
body.archive  ul.products li.product .button:hover{
	background-color: #000;
	color:#fff;
}
body.archive ul.products {
    margin-top: 50px;
    padding-top: 50px;
    border-top: 1px solid #000;
}


/*
SHOP PAGE SIDEBAR
*/


body.archive aside.sidebar {
    position: absolute;
    bottom:-200px;
    left: 20px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(51,51,3,1);
	-moz-box-shadow: 0px 1px 5px 0px rgba(51,51,3,1);
	box-shadow: 0px 1px 5px 0px rgba(51,51,3,1);
    width: 200px;
    display: none;
}
body.archive aside.sidebar ul li {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 18px;
	text-align: left;
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba(51, 51, 51, 0.6);
	background-color: #f5fdfd;
	border-bottom: 1px solid #e3fefe;
}
div.yith-woocommerce-ajax-product-filter {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 18px;
	background-color: #f5fdfd;
	border-bottom: 1px solid #e3fefe;
}
div.yith-woocommerce-ajax-product-filter h3 {
	text-align: left;
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #444;
}
div.yith-woocommerce-ajax-product-filter h3:after {
	content: url(img/arrow-open.png);
    position: absolute;
    right: 20px;
}
ul.yith-wcan-label.yith-wcan.yith-wcan-group li a {
	background:transparent;
	color:#c6c6c6;
	padding: 5px;
}
ul.yith-wcan-label.yith-wcan.yith-wcan-group li a:hover {
	background:#e3fefe;
	color:#c6c6c6;
	border:1px solid #c6c6c6;
}
ul.yith-wcan-label.yith-wcan.yith-wcan-group {
	display: none;
}
.woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a {
	background-color: #e3fefe;
	color:#c6c6c6;
}
body.archive aside.sidebar ul li#master-filter {
	background-color: #e3fefe;
	height: 60px;
}
body.archive aside.sidebar ul li#master-filter:after {
	content: '';
}
body.archive aside.sidebar ul li:last-child {
	border-bottom:0;
}
/*
SHOP PAGE BANNER
*/

.shop-banner {
	background-size: cover;
	height:500px;
	margin-bottom: 30px;
	position: relative;
}
.shop-banner-block {
	overflow: hidden;
	height: 100%;
}
.shop-banner-block-right {
	float: right;
	width: 42%;
	height: 100%;
	text-align: center;
	position: relative;
}

.shop-banner-block-right h2 {
	font-family: 'Circular Air';
	font-weight: bold;
	font-size: 44px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	line-height: 1.1em;
	text-align: right;
	color:#fff;
	position: absolute;
	top:35%;
	right: 20px;
}

/*------------------------------------*\
    SINGLE PRODUCT
\*------------------------------------*/

.single-product .woocommerce-breadcrumb {
	display: none;
}
.single-product .col-1-2 {
	width:50%;
}
.single-product div.product div.images img {
	width:75%;
	max-width: 600px;
	margin: 0 auto;
}


body.single-product span.sku_wrapper {
	display: none;
}
body.single-product .product_meta {
	display: none;
}

/*IMAGES*/
/*
body.single-product div.images {
	width: 70% !important;
}
*/



div#container {
    overflow: hidden;
}
div#content {
    overflow: hidden;
}

body.single-product .content-area {
	overflow: hidden;
	padding-top: 70px;
}
body.single-product .page-wrap {
	overflow: hidden;
}
body.single-product div.product {
	float:none;
	width: 100%;
}
body.single-product .summary.entry-summary {
	position: relative;
	right:0;
	width: 40% !important;	
}
body.single-product div.product .product_title {
	font-family: 'Circular';
	font-weight: 100;
	font-size: 25px;
	letter-spacing: 0.1em;
	line-height: 1.2em;
	text-align: left !important;
	color:#000;
	text-transform: uppercase;
	margin-bottom: 12px;
}
body.single-product del {
	display: none;
}
body.single-product ins span.amount {
	font-family: 'Circular';
	font-weight: 500;
	font-size: 25px;
	letter-spacing: 0.1em;
	color:#000;
}
/*REMOVE UNDERLINE FROM SPAN.AMOUNT*/
body.single-product div.product p.price {
	color:transparent !important;
	margin-top: 15px;
	margin-bottom: 35px;
	padding-left: 0;
}

div[itemprop="description"] {
	border-left: 1px solid rgba(51, 51, 51, 0.5);
	padding-left: 10px;
	margin-top: 15px;
}
body.single-product div.product p {
    font-family: 'Aktiv Grotesk';
    font-weight: 300;
    font-size: 18px;
    color: #000;
    line-height: 1.4em;
    text-align: left;
    padding-left: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
}
body.single-product form.cart {
	margin-top: 35px;
}
body.single-product form.cart div.quantity {
	margin-top: 5px !important;
}
body.single-product span.quantity {
	font-family: 'Circular';
	font-weight: 100;
	font-size: 12px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color:#999;
	margin-right: 10PX;
}
body.single-product .quantity .qty {
	font-family: 'Circular';
    font-size: 12px;
    font-weight: 500;
    color:#000;
    width: 40px;
    padding: 4px 0px 4px 12px;
}

body.single-product form.cart .button {
    font-family: 'Circular Air';
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.92);
    color: #fff;
    border: 0;
    width: 180px;
    position: relative;
    margin-left: 20px;
}
body.single-product form.cart .button:hover {
	color:#fff;
	background-color: rgba(51, 51, 51, 0.92);
}

/*SLIDER AND MASONRY GALLERY*/
.thumbnails.columns-3.owl-carousel.owl-theme.owl-loaded.owl-text-select-on {
	width: 90%;
	margin-left: 5%;
}
.woocommerce .thumbnails .owl-nav .owl-prev {
	background: red !important;
}
.grid-item {
  float: left;
  width: 49%;
}
.grid-item img{
	margin: 0 !important;
	width: 100% !important;
}

/*RELATED PRODUCTS*/
body.single-product .related.products {
	padding-top: 200px;
    clear: both;
    display: none;
}
body.single-product .related.products h2 {
	background: #000;
	font-family: 'Circular';
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b6dfd7;
   	padding-top: 10px;
   	padding-bottom: 10px;
   	margin-bottom: 20px;
    display: none;
}
/*body.single-product .related.products ul.products {
	width: 70%;
	margin: 0 auto;
}*/
body.single-product .related.products ul.products li {
	margin: 0 auto;
	width: 33.3%;
	text-align: center;
}
body.single-product .related.products ul.products li img {
	width: 209px;
	margin: 0 auto;
}
body.single-product .related.products ul.products li h3 {
	font-family: 'Aktiv Grotesk';
    font-weight: 300;
    font-size: 17px;
    letter-spacing: 0.05em;
    color: #000;
    padding-top: 8px;
    padding-bottom: 4px;
}
body.single-product .related.products ul.products li span.amount {
	font-family: 'Aktiv Grotesk';
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.1em;
    color: #000;
}
body.single-product .related.products ul.products li .button {
	display: none;
}
body.single-product .related.products ul.products li .price del {
	display: none;
}
body.single-product .related.products ul.products li .price {
	color: transparent !important;
}
body.single-product div#tab-reviews {
	display: none;
}
body.single-product table.shop_attributes {
	display: none;
}
body.single-product ul.tabs.wc-tabs {
	display: none;
}
body.single-product .woocommerce-tabs.wc-tabs-wrapper h2 {
	background: #eef0f1;
	font-family: 'Circular';
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #c3ac96;
   	padding-top: 10px;
   	padding-bottom: 10px;
   	margin-bottom: 15px;
}
body.single-product .woocommerce-tabs.wc-tabs-wrapper p{
	text-align: center;
	font-family: 'Aktiv Grotesk';
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 0.125em;
	color:#000;
}
div#tab-additional_information {
	display: none !important;
}

/*------------------------------------*\
    CART PAGE
\*------------------------------------*/
/*.cart .content-area {
	width:90%;
	margin: 0 auto;
}
.cart h1 {
	width:90%;
	margin: 50px auto 0;
	font-size: 42px;
	font-family: 'Impact';
	text-transform: uppercase;
	font-weight: bold;
	color:#8b8b8b;
}
.woocommerce-cart table.cart td.actions .coupon .input-text {
	width: 200px;
	height:44px;
}
.cart a.button.alt,
.checkout .button.alt{
	background-color:#4380d0;
	margin-top: 20px;
    width: 100%;
    height: 40px;
    text-transform: uppercase;
    font-family: "helvetica neue", sans-serif;
    font-weight: 300;
    font-size: 18px;
}
input#place_order {
	background-color:#4380d0;
}
.cart a.button.alt:hover,
input#place_order:hover {
	background-color:#26303d;
}
.cart input.button {
	padding:15px;
	margin:20px auto;
	text-transform: uppercase;
	font-family: "helvetica neue", sans-serif;
	color:#26303d;
}
.cart table.cart th {
	text-transform: uppercase;
	font-family: "helvetica neue", sans-serif;
	color:#26303d;
	font-size:14px;
	line-height: 1.5em;
}
.cart .cart-collaterals-heading {
	text-transform: uppercase;
	font-family: "helvetica neue", sans-serif;
	color:#484848;
	font-size:20px;
	line-height: 2.5em;
	margin: 20px auto;
}
.cart .cart-collaterals-heading h2 {
	font-weight: 200;
}
.cart table.cart td {
	font-family: "helvetica neue", sans-serif;
	font-size:14px;
	font-weight: 200;
	text-transform: uppercase;
}
.cart table.cart td a {
	color:#8d8d8d;
}
.cart table.cart img {
	width:50px;
}
.woocommerce-cart span.quantity {
	display: none;
}
.cart .cart_totals tbody th {
	text-transform: uppercase;
	font-family: "helvetica neue", sans-serif;
	color:#26303d;
	font-size:12px;
	line-height: 1.5em;
}
.cart .cart_totals tbody td {
	font-family: "helvetica neue", sans-serif;
	font-size:12px;
	font-weight: 200;
}
*/


/*------------------------------------*\
    CART
\*------------------------------------*/


/*
body.cart .page-wrap {
	width: 70% !important;
}
*/

body.cart .content-area {
	float: left;
    width: 95%;
    padding: 25px;
    margin-top: 20px;
    margin-bottom: 100px;
}
.cart-static-timeline {
    padding-top: 100px;
	margin-bottom: 40px;
}
body.cart .cart_totals {
	width: 100% !important;
}
body.cart a.button.alt {
	width: 49% !important;
	float: right;
	font-family: 'Circular Air';
    font-weight: bold; 
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: rgba(51, 51, 51, 0.92);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
    color: #c3ac96;
    border: 0;
    position: relative;
    margin: 0px 7px 10px;
}
body.cart a.button.alt:hover {
	background-color: rgba(51, 51, 51, 0.92);
	color:#fff;
}
body.cart .wc-proceed-to-checkout {
	padding-top: 5px;
	margin-top: 30px;
	height: 52px;
	border-radius: 2px;

}
body.cart .cart-collaterals .cart_totals small {
	display: none;
}

body.cart .cart-subtotal,
body.cart .order-total {
	font-family: 'Circular';
    font-weight: 100 !important;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: rgba(51, 51, 51, 0.4);
    text-transform: uppercase;
    padding-bottom: 8px;
    text-align: right;
    margin-right: 100px;
    margin-bottom: 5px;
}
body.cart .order-total span.amount,
body.cart .order-total small.includes_tax {
	color:#000;
}
body.cart form img {
	width: 250px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 25px;
}
body.cart .product-data {
/*	display: inline-block;*/
	text-align: center;
	margin-bottom: 20px;
}
body.cart .product-name {
	display: inline-block;
	vertical-align: top;
	font-family: 'Circular';
    font-weight: 500;
    font-size: 17px;
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: #000;
    text-transform: uppercase;
    width: 260px;
    margin-bottom: 10px;
}
body.cart .quantity {
	vertical-align: top;
	font-family: 'Circular';
    font-weight: 100;
    font-size: 13px;
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: rgba(51, 51, 51, 0.4);
    text-transform: uppercase;
    margin-bottom: 10px;
}
body.cart .woocommerce .quantity .qty {
	border:0;
}
body.cart span.amount {
	font-family: 'Circular';
    font-weight: 500;
    font-size: 17px;
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: #000;
}

body.cart a.remove {
	display: inline-block;
    margin-left: 30px;
	font-family: 'Circular Air';
    font-weight: bold;
    font-size: 14px !important;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    background-color: red;
    border-radius: 2px;
    color: #fff !important;
    width: 45px;
    height: 26px;
    padding-top: 15px;
}
body.cart a.remove:hover {
	background-color: rgba(51, 51, 51, 0.92);
	border: 2px solid rgba(51, 51, 51, 0.92); 
}

body.cart input#coupon_code {
	font-family: 'Circular';
    font-weight: 100;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: rgba(51, 51, 51, 0.4);
    text-transform: uppercase;
    border: 0;
    border-bottom: 2px solid rgba(51, 51, 51, 0.2);
}
body.cart .coupon.cart-floated-col {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
body.cart .coupon.cart-floated-col input.button {
    font-family: 'Circular Air';
    letter-spacing: 0.1em;
    position: relative;
    margin: 0px 0px 10px 10px;
    width: 100px;
        background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 13px !important;
    font-weight: 800 !important;
}
body.cart .update-cart.cart-floated-col {
	display: none;
}

body.checkout form.login {
	border:0;
	padding-left: 0;
	padding-right: 0;
}
body.checkout form.checkout input[type="text"] {
    font-family: 'Circular';
    font-weight: 500;
    font-size: 11px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    color: rgba(51, 51, 51, 0.6);
    padding-left: 5px;
}
body.checkout p.form-row input.button {
	background:#2e2c37;
	font-family: 'Circular';
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 12px;
	color:#fff;
	margin-right: 10px;
}


body.checkout form.checkout.woocommerce-checkout {
	margin-top: 40px;
}
body.checkout .form-row input.input-text {
	height: 33px;
}
body.checkout form .form-row label {
    font-family: 'Circular';
    font-weight: 500;
    font-size: 13px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    color: #000;
    text-transform: uppercase;
}
body.checkout form .select2-chosen {
	padding-top: 6px;
	padding-bottom: 6px;
}
body.checkout .woocommerce .woocommerce-info {
	border-top-color: #a27272;
}
.woocommerce .woocommerce-info:before {
	color:#a27272;
}
body.checkout input#place_order {
	background:#000;
	font-family: 'Biryani', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 12px;
	color:#fff;
}



/*------------------------------------*\
    CHECKOUT
\*------------------------------------*/

body.checkout div#checkout-wrapper {
	width: 70% !important;
}
body.checkout .body-border {
	overflow: hidden;
}


#checkout_timeline.text {
	width: 70%;
	height: 55px;
	padding-top: 8px;
	border-radius: 2px;

}
#checkout_timeline.text li {
	font-family: 'Circular';
    font-weight: 100;
    font-size: 19px;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    text-align: left;
    color: rgba(51, 51, 51, 0.6);
    text-transform: uppercase;
    margin-bottom: 12px;
    padding-top: 6px;
    display: inline-block;
}
#checkout_timeline.text li.active {
	color:#000;
	font-weight: normal !important;
}

#checkout_timeline.horizontal.text li:not(:last-child) .timeline-wrapper:after {
	content: "-" !important;
}

body.checkout form.login {
	border:0;
	padding-left: 0;
	padding-right: 0;
}
body.checkout form.checkout input[type="text"] {
    font-family: 'Circular';
    font-weight: 500;
    font-size: 11px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    color: rgba(51, 51, 51, 0.6);
    padding-left: 5px;
}
body.checkout p.form-row input.button {
	background:#2e2c37;
	font-family: 'Circular';
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding-top: 12px;
	color:#fff;
	margin-right: 10px;
}

body.checkout input.button.alt.alt.next,
body.checkout input.button.alt.prev {
    font-family: 'Circular Air';
    font-weight: bold; 
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    border: 0;
    height: 42px;
    width: 47%;
    position: relative;
    margin: 5px 7px;
}
body.checkout input.button.alt.alt.next:hover,
body.checkout input.button.alt.prev:hover {
	color:#fff;
} 

body.checkout form.checkout.woocommerce-checkout {
	margin-top: 40px;
}
body.checkout .form-row input.input-text {
	height: 33px;
}
body.checkout form .form-row label {
    font-family: 'Circular';
    font-weight: 500;
    font-size: 13px;
    line-height: 1.8em;
    letter-spacing: 0.1em;
    color: #000;
    text-transform: uppercase;
}
body.checkout form .select2-chosen {
	padding-top: 6px;
	padding-bottom: 6px;
}
body.checkout .woocommerce .woocommerce-info {
	border-top-color: rgba(51, 51, 51, 0.92);
	font-family: 'Aktiv Grotesk';
    font-weight: 300;
    font-size: 13px;
    color: #000;
}
.woocommerce .woocommerce-info:before {
	color:rgba(51, 51, 51, 0.92);
}
.woocommerce-checkout #payment ul.payment_methods li {
    font-size: 14px;
}
tr.order-total td {
    font-size: 18px;
}
body.checkout div#checkout_login p {
	font-family: 'Aktiv Grotesk';
    font-weight: 300;
    font-size: 13px;
    text-transform: lowercase;
    color: #000;
    padding-bottom:16px;
}
body.checkout form .form-row p {
	padding-bottom: 0;
}
/*------------------------------------*\
    SIDEBAR CHECKOUT
\*------------------------------------*/
aside.sidebar-checkout {
    display: none;
	float: right;
	width: 23%;
	position: absolute;
	right: 50px;
	padding-left: 40px;
	border-right: 0px solid transparent;
    -webkit-border-image: url('img/cat-border.png') 30 round;
    -o-border-image: url('img/cat-border.png') 30 round;
    border-image: url('img/cat-border.png') 30 round;
}
.sidebar-sections div {
	margin-bottom: 25px;
}
aside.sidebar-checkout h4 {
	font-family: 'Circular';
    font-weight: 500;
    font-size: 13px;
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: rgba(51, 51, 51, 0.4);
    text-transform: uppercase;
    padding-bottom: 8px;
}
aside.sidebar-checkout h5 {
	font-family: 'Circular';
    font-weight: 100;
    font-size: 12px;
    color: #000;
    padding-top: 10px;
    padding-bottom: 5px;
}
aside.sidebar-checkout p {
	font-family: 'Circular';
    font-weight: 100;
    font-size: 11px;
    color: rgba(51, 51, 51, 0.6);
    width: 80%;
}
.section-payments img {
	margin-top: 8px;
	width: 150px;
}
/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.footer-wrap {
	width:90%;
	margin:0 auto;
}
.site-footer {
	width: 100%;
	margin-top: 50px;
  	background: #fff;
  	border-top: 2px solid #eef0f1;
  	padding:20px 0;
  	overflow: hidden;
}
.site-footer a,
.textwidget {
	color:#0a0a0a;
/*	font-family: "helvetica neue", sans-serif;
	font-weight: thin;
	font-size: 16px;*/
}
.footer-side {
	width: 25%;
	padding-right: 25px;
	text-align: left;
	float:left;
}
.widget-title {
	margin: 1em 0;
	font-size: 28px;
	font-family: 'Impact';
	text-transform: uppercase;
	font-weight: bold;
	color:#fff;
}
footer .menu-item {
	height:25px;
	width:100%;
}
#footer {
	height:200px;
}
.social-links img {
	margin-right: 5px;
}
.newsletter input[type=text] {
	float:left;
	height:38px;
	width:70%;
	padding: 10px;
}

.newsletter input[type=submit] {
	float:left;
	height:38px;
	width:30%;
	border:1px solid #fff;
	border-left: none;
	color:#fff;
	background-color:#5a7290;
	text-transform: uppercase;
	font-size: 13px;
	margin-bottom: 2em;
}

p.copyright {	
	font-family: 'Circular';
	font-weight: 500;
	font-size: 12px;
	color:rgba(51, 51, 51, 0.6);
}
ul.social-links {
	margin: 20px auto 0;
}

.footer-mobile {
  display: none;
  height:42px;
  position: fixed;
  bottom:0;
  left:0;
  right:0;
  background-color:rgba(51,65,82,1);
  padding: 7px 15px 10px 15px;
  z-index:10;
}
.footer-mobile .social-links img {
	width: 150px;
	padding-top: 4px;
}
.footer-mobile .copyright {
	text-align: right;
	padding: 1em 0;
	font-family: "helvetica neue", sans-serif;
	font-size: 14px;
	color:#fff;
}
.footer-mobile ul.social-links {
  padding:0;
  float:left;
}
.footer-mobile ul.social-links li {
  display: inline-block; 
  padding-right: 10px;
}
.footer-mobile img {
  display: block;
  width:24px;
}
.footer-mobile div {
  float:right;
  position:relative;
}
.footer-mobile .copyright {
  font-family: 'ProximaNova', sans-serif; 
  font-size: 14px;
  color:#fff;
  line-height: 2em;
}

/*------------------------------------*\
    RESPONSIVE MENU
\*------------------------------------*/
div#responsive-menu-container {
	opacity: 0.95;
}
#responsive-menu-container #responsive-menu-title {
	font-family: 'Circular Air';
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
#responsive-menu-container li.responsive-menu-item {
	font-family: 'Circular Air';
	text-transform: uppercase;
	letter-spacing: 0.1em;
}


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/
@media screen and (max-width: 980px) {
	.woocommerce div.product {
		width:100%;
	}

    .header-actions,
    ul#menu-header-menu {
        float: none;
    }
    .header-actions ul li {
        display: none;
    }
    li#wpmenucartli {
        display: block;
        width: 100%;
        text-align: right;
    }
    .site_branding {
        width: 150px !important;
    }
	#click-menu {
		top: 22px !important;
	}
	.hero-block-left {
		display:none;
	}
	.hero-block-right {
		width: 100%;
		padding:28px 28px;
	}
	.hero-block-left img {
		transform: translateY(0%);
	}
	.browse-cats .browse-cat-2 {
		border:0;
	}
	.browse-cats div img {
		max-width:150px !important; 
	}
	.browse-cats div {
		width: 100%;
		margin-top: 50px;
    	margin-bottom: 20px;
	}
	.shop-cat-1 .shop-cat-img {
		width: 100%;
	}
	.shop-cat-1 .shop-cat-text {
		width:100%;
		padding: 28px 28px;
	}
	.shop-cat-2 .shop-cat-img {
		width: 100%;
	}
	.shop-cat-2 .shop-cat-text  {
		width: 100%;
	}
	.active-blocks-wrapper {
		padding-top: 0;
	}
	.active-block-1 {
		width: 100%;
	}
	.active-block-2 {
		width: 100%;
	}
	.active-block-2 .ig-shots button {
		bottom:3px;
	}
	.active-block-3 {
		width: 100%;
		margin-top: 15px;
	}

	.shop-banner-block-right {
		width: 100%;
	}
	.shop-banner-block-right h2 {
		top:15%;
		right:0;
		left:0;
		text-align: center;
	}
    body.single-product .summary.entry-summary {
        padding: 0;
    }
    div[itemprop="description"] {
        padding: 0;
        border-left: 0;
    }
/*	body.archive ul.products li.product {
		float: none;
		width: 	100%;
	}*/
	body.archive p.woocommerce-result-count {
		margin-top: 300px;
		margin-left: 0;
	}

	body.single-product div.images {
		width: 100% !important;
	}

	.single-product div.product div.images img {
		width: 100%;
	}

	body.single-product .related.products ul.products li {
		width: 33%;
	}
	.shop-banner {
		height: 200px;
	}
}

@media screen and (max-width: 980px) {
    .social_img {
        width: 98%;
        margin: 0 auto 20px;
    }
    body.checkout div#checkout-wrapper {
        width: 100% !important;
    }
    body.checkout span.amount {
        font-size: 20px;
    }
    #checkout_timeline.text li {
        display: none !important;
    }
    body.single-product div.product .product_title {
        font-size: 22px;
        text-align: center;
    }
    .woocommerce-message {
        text-align: left;
    }
    .cart-static-timeline {
        display: none;
    }
    body.cart .page-wrap {
        padding-top: 100px;
    }
    a.cont_shopping button {
        margin-bottom: 30px;
    }body.cart .content-area {
        padding: 0;
    }
    body.cart .cart-subtotal, body.cart .order-total {
        margin-right: 0;
    }
    .cart_totals {
        text-align: right !important;
            font-family: 'Circular';
    font-weight: 100 !important;
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.12em;
    color: rgba(51, 51, 51, 0.4);
    text-transform: uppercase;
    padding-bottom: 8px;
    }
    .active-blocks {
        margin-top: 50px;
    }
	body.single-product .summary.entry-summary {
		width: 100% !important;
		position: relative;
	}
	li#menu-item-79,
	li#menu-item-80,
	li.menu-divider img {
		display: none;
	}
	.menu-item {
		width: 24%;
	}
	nav ul {
		/*position: fixed;*/
		background: #fff;
		/*border-bottom: solid 3px #777879;*/
		z-index: 9999;
	}
	.logo img {
	    max-width: 60%;
	    height: 30px;
	    margin-top: 10px;
	}
	/*.banner_container {
		margin-top: 47px;
	}*/
	.descrip_container {
    	padding: 45px 0;
	}
	.descrip {
		width:85%;
		margin: 0 auto;
	}
	.row1_media img {
		min-height: 135px;
		max-height: 135px;
	}
	.img_row2_container .images {
		height:135px;
	}
	.copy {
		margin: 50px auto 60px;
	}
	.copy h3 {
		font-size: 36px;
		text-align: center;
	}
	.product-detail {
		width:100%;
		margin-bottom: 50px;
	}
/*	.footer-mobile {
    display: block !important;
  }*/
	.footer-side {
	    width: 100%;
	    padding-right: 0;
	    text-align: center;
	    float:none;
	    margin: 0 auto;
	}
	.site-footer {
		height:100%;
	}
	.widget-title {
		font-size: 32px;
		margin: 1em 0 0.5em;
	}
	.single-product div.product p {
		width:90%;
		text-align: center;
		margin: 30px auto 0;
	}
	.single-product div.product .product_title {
		text-align: center;
	}
	.woocommerce div.product form.cart div.quantity {
		float: none;
	}
	.single-product div.product form.cart .button {
		width:90%;
		float:none;
	}
	.contact-section {
		width:100%;
		text-align: center;
		float:none;
	}
	.contact-form {
		width:100%;
		text-align: center;
	}
	.about-section h2,
	.about-section p {
		width: 100%;
	}
	.about-section p {
		margin-top: 50px;
	}
	.about-sub-images {
		width: 100%;
		text-align: center;
	}
	.about-sub-images img {
		width:100%;
	}
	.about-sub-caption {
		width:100%;
	}
	.about-sub-caption p,
	.about-sub-caption h2,
	.about-sub-section-2 h3,
	.about-sub-section-2 img {
		color:#26303d;
		width:100%;

	}
	.about-sub-caption h2 {
		border:2px solid #26303d;	
		text-align: center;
	}
	.cart h1, .cart h2  {
		text-align: center;
	}
		.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
		width: 100% !important;
	}

}


/*------------------------------------*\
    OVERRIDES
\*------------------------------------*/

.payment_box.payment_method_authorizenet {
    display: block !important;
}

/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#04A4CC;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}




/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family: 'Circular';
	src: url('fonts/Circular-Medium.eot');
	src: url('fonts/Circular-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/Circular-Medium.woff') format('woff'),
		url('fonts/Circular-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Circular Air';
	src: url('fonts/CircularAir-Bold.eot');
	src: url('fonts/CircularAir-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/CircularAir-Bold.woff') format('woff'),
		url('fonts/CircularAir-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('AktivGrotesk-Bold.eot');
	src: url('AktivGrotesk-Bold.eot?#iefix') format('embedded-opentype'),
		url('AktivGrotesk-Bold.woff') format('woff'),
		url('AktivGrotesk-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('AktivGrotesk-BoldItalic.eot');
	src: url('AktivGrotesk-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('AktivGrotesk-BoldItalic.woff') format('woff'),
		url('AktivGrotesk-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Circular Air Book';
	src: url('CircularAir-Book.eot');
	src: url('CircularAir-Book.eot?#iefix') format('embedded-opentype'),
		url('CircularAir-Book.woff') format('woff'),
		url('CircularAir-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('fonts/AktivGrotesk-Light.eot');
	src: url('fonts/AktivGrotesk-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/AktivGrotesk-Light.woff') format('woff'),
		url('fonts/AktivGrotesk-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Aktiv Grotesk';
	src: url('fonts/AktivGrotesk-Regular.eot');
	src: url('fonts/AktivGrotesk-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/AktivGrotesk-Regular.woff') format('woff'),
		url('fonts/AktivGrotesk-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EB Garamond 12';
	src: url('fonts/EBGaramond12-Regular.eot');
	src: url('fonts/EBGaramond12-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/EBGaramond12-Regular.woff') format('woff'),
		url('fonts/EBGaramond12-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}







/*------------------------------------*\
    PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}
































/*REDESIGN*/


html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
    	margin: 0;
    padding: 0;
}


body {
	margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color:#0a0a0a;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

p, h1, h2, h3, h4, h5, h6, a, input, select {
    margin: 0;
    line-height: 2em;
    letter-spacing: 1px;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    
}
a {
    text-decoration: none;
    color:inherit;
}
p {
    font-size: 14px;
}
h1 {
    text-transform: uppercase;
    font-size: 34px;
}
h3 {
   text-transform: uppercase;
    font-size:22px;
    font-weight: 800;  
}
h5 {
    text-transform: uppercase;
    font-size:14px;
    font-weight: 800; 
}
a {
     outline:0;
}
a.btn {
    background: rgba(255, 255, 255, 0.8);
    color:#000;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size:13px;
    font-weight: 500;
    padding: 15px 40px;
    transition: background 0.75s ease-in;
}
a.btn:hover {
    background: #000;
    color:#fff;
    border-color:#fff;
}
a.btn_inverse {
    background: #000;
    color:#fff;
}
a.btn_inverse:hover {
    background: #fff;
    color:#6dd396;
    border-color:#000;
}
a.btn_transparent {
    background: transparent;
    color:#fff;
    border-color: #fff;
    max-width: 105px;
    text-align: center;
}
a.btn_transparent:hover {
    border-color:#000;
}
.clear {
    clear: both;
    float: none;
}
.page_front_container {
    position: relative;
    margin-top: 55px;
}
.page_default_container {
    position: relative;
    margin-top: 81px;
}

/* Slider
	 ========================================================================== */
.slick-dots li button:before {
    font-size: 12px;
}
li.slick-active button:before {
    font-size: 18px;
    color:#fff;
}
.slick-track {
    margin-bottom: 40px;
}

/* Woocommerce
	 ========================================================================== */
.wrps_related_products_area {
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background:#F8F8F8;
}
.single-product .wrps_related_products_area div.product {
    padding-top: 0;
}
.wrps_related_products_area h2 {
    text-transform: uppercase;
    padding-bottom: 30px;
}
.wrps_related_products.wrps_theme_box .wpb_wrps_title a {
    color:#000 !important;
    text-transform: uppercase;
}
.wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.button, .wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.added_to_cart {
    background: #fff !important;
    border-color: #6dd396 !important;
    color:#6dd396 !important;
}
.wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.button:hover, .wrps_related_products.wrps_theme_box .wpb_wrps_cart_btn a.added_to_cart:hover {
        background: #6dd396 !important;
    border-color: #6dd396 !important;
    color:#fff !important;
}
.nav-next {
    display: none;
}
.woocommerce div.product div.images.woocommerce-product-gallery {
    margin-bottom: 10em !important;
}
h3#order_review_heading {
    text-align: center;
        display: block;
    font-size: 24px;
    color: #000;
    text-transform: uppercase;
        font-weight: 500;
    letter-spacing: 1.5px;
}
.woocommerce-tabs.wc-tabs-wrapper,
div#comments{
    display: none;
}
button#place_order {
    width: 100%;
}
table.shop_table.woocommerce-checkout-review-order-table tbody {
    display: none;
}
table.shop_table.woocommerce-checkout-review-order-table tr.order-total {
    text-align: center;
    
}
div#customer_details {
    margin-bottom: 50px;
}
div#order_review {
    width: 75%;
    margin: 0 auto;
}
div#customer_details label {
    display: block;
    font-size: 14px;
    color: #000;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: capitalize;
}
div#customer_details h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2{
    width: 75% !important;
    float: none !important;
    margin: 0 auto;
}
div#customer_details input,
div#customer_details textarea,
div#customer_details select {
    background: transparent;
    height: 35px !important;
    padding: 5px;
    font-size: 12px !important;
    border: 1.5px solid rgba(218, 218, 218, 0.7) !important;
    margin-bottom: 10px;
    outline-color: #6dd396 !important;
}
div#customer_details textarea {
    height: 200px !important;
    letter-spacing: 1px;
    padding: 10px !important;
}
.woocommerce-message,
.woocommerce-info{
    border-top-color:#6dd396 !important;
}
.woocommerce-message::before,
.woocommerce-info::before{
    color:#6dd396 !important;
}
.woocommerce-cart h2,
.woocommerce-checkout h2 {
    display: none;
}
.cart_totals h2 {
    display: block;
    font-size: 16px;
    color:#000;
    text-align: right;
    text-transform: uppercase;
}
.woocommerce table.shop_table {
    border: 0;
}
.woocommerce table.shop_table th {
    display: none;
}
td.product-name {
    text-transform: uppercase;
    font-weight: 700;
}
tr.cart-subtotal {
    display: none !important;
}
tr.order-total strong {
    font-weight: 300;
}
.cart_totals {
    margin-top: 50px;
}
span.woocommerce-Price-amount.amount {
    font-size: 20px;
    letter-spacing: 1.5px;
}
.woocommerce-cart table.cart img {
    width: 125px !important;
    margin-top: 20px;
    margin-bottom: 20px;
}
td.product-price span.woocommerce-Price-amount.amount {
    color:3dbdbdb !important;
}
.woocommerce a.remove {
    color:#dbdbdb !important;
    font-weight: 300 !important;
    font-size: 3em !important;
}
.woocommerce .cart .button, .woocommerce .cart input.button {
        background: #fff;
    color: #6dd396 !important;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    border-radius: 0 !important;
    transition: background 0.75s ease-in;
}
input#coupon_code {
        background: transparent;
    border: 1px solid #dbdbdb;
    height: 30px;
    width: 150px;
    text-transform: uppercase;
}
.woocommerce .cart .button:hover, .woocommerce .cart input.button:hover {
    color:#fff !important;
    background: #6dd396 !important;
}
.woocommerce button.button.alt,
.woocommerce button.button.alt.disabled,
a.button.wc-backward,
a.button.wc-forward{
        background-color: #000 !important;
    color:#fff !important;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size:13px !important;
    font-weight: 800 !important;
    padding: 15px 40px;
    transition: background 0.75s ease-in;
    border-radius: 0;
    outline:0;
}
.woocommerce button.button.alt:hover {
    background-color: #000;
    border-color: #000;
}
.woocommerce div.product form.cart div.quantity {
    float: none;
    margin-bottom: 20px;
    text-align: left;
    padding-left: 50px;
}
.woocommerce .quantity .qty {
    font-size: 13px;
    font-weight: 700;
    border-color:2px solid rgba(158, 157, 158, 0.2) !important;
    min-height: 30px;
}
.woocommerce div.product form.cart .variations td.label {
    display: none;
}
.product_meta {
    display: none;
}
.woocommerce div.product form.cart .variations select {
    background: transparent;
    border: 1px solid #808080 !important;
    border-radius: 0 !important;
    height: 30px;
    font-weight: 800 !important;
    text-transform: uppercase;
    min-width: 150px !important;
    max-width: 150px !important;
    letter-spacing: 0.5px;
    outline: 0;
}
.woocommerce div.product form.cart .variations {
    float: right;
    width: 85%;
}
.single_variation_wrap {
    float: left;
    width: 15%;
}
.woocommerce div.product form.cart .button {
    width: 224px;
}

/* Header / Footer / Sidebar
	 ========================================================================== */
header {
/*    padding-top: 10px;*/
    height: 100px;
    border-bottom: 1px solid #000;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 99;
    top:0;
}
.header-top-bar {
	height: auto;
	overflow: hidden;
	background-color: #000;
}
header .wrapper {
    width: 90%;
    margin: 0 auto;
}
header nav {
    width: 40%;
    float: left;
    padding-top:22px;
}
header nav#nav_right {
    text-align: right;
}
.site_branding {
    width: 20%;
    float: left; 
    text-align: center;
    position: relative;
    z-index: 9;
}
.site_branding img {
    width: 45px;
    margin: 0 auto;
    display: block;
    padding-top: 4px;
}

header nav ul li {
    text-transform: uppercase;
    display: inline-block;
    margin-left:20px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 800;
}


footer {
    background: #000;
    color:#fff;
    padding-top: 80px;
    padding-bottom: 45px;
    width: 100%;
    overflow: hidden;
}
footer .wrapper {
    width: 95%;
    margin: 0 auto;
}
footer .wrapper > div {
    float: left;
}
.footer_left,
.footer_right{
    width: 20%;
    max-height: 200px;
    text-align: center;
}
.footer_center {
    width: 70%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.footer_left img {
    width: 90%;
    margin: 0 auto;
}
.footer_center ul {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.footer_center ul li {
    text-transform: uppercase;
    display: inline-block;
    margin-left:20px;
    margin-right: 20px;
    font-size: 12px;
    font-weight: 800;
}
.footer_news {
    margin-top: 30px;
    text-align: center;
    width: 90%;
    margin: 40px auto 0;
}
.footer_news p {
    margin-bottom: 15px;
}
.footer_news input[type=email]{
    background:transparent;
    border:1px solid #808080;
    height: 30px;
    color:#fff;
}

.footer_news input[type=submit] {
        background: #6dd396;
    color: #fff;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    padding: 0px 20px;
    height: 34px;
    vertical-align: top;
    outline:0;
    transition: background 0.75s ease-in;
}

aside#secondary {
    width: 100%;
    max-width: 300px;
    float: left;
    padding-top: 85px;
    padding-bottom: 200px;
    background-color: #f4f4f4;
    min-height: 500px;
    
}
aside#secondary .wrapper,
aside#cart_popout .wrapper{
    width: 80%;
    margin: 0 auto;
}
aside#cart_popout .wrapper {
    width: 90%;
}
aside#secondary h2.widget-title {
    font-size: 12px;
    font-weight: 600;
    color:#9e9d9e;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 15px;
    margin-bottom: 5px;
    display: block !important;
}
aside#cart_popout {
    width: 100%;
    max-width: 300px;
    float: right;
    padding-bottom: 200px;
    background-color: #fff;
    min-height: 500px;
    position: absolute;
    right: 0;
    height: 100%;
    text-align: center;
    padding-top: 20px;
    display: none;
    
}
aside#cart_popout .woocommerce a.remove {
    font-size:2em !important;
}
aside#cart_popout span.quantity,
aside#cart_popout span.woocommerce-Price-amount.amount{
    font-size: 13px !important;
    text-align: left;
}
aside#cart_popout h2.widget-title {
    margin-bottom: 20px;
}
aside#cart_popout .widget_shopping_cart .cart_list li {
    margin-bottom: 20px;
}
aside#cart_popout p.woocommerce-mini-cart__buttons.buttons {
    margin-top: 30px;
}
.woocommerce-checkout aside#secondary {
    min-height: 1700px;
}


/* Contact Form
	 ========================================================================== */

div.textwidget input.wpcf7-form-control.wpcf7-submit {
    background: #6dd396;
    color: #fff;
    border: 1px solid #6dd396;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 500;
    padding: 10px 40px;
    transition: background 0.75s ease-in;
    width: 100%;
    letter-spacing: 2px !important;
    display: block;
}
div.textwidget input.wpcf7-form-control.wpcf7-submit:hover {
    background: #fff;
    color: #6dd396;
    border-color: #6dd396;
}
div.textwidget input[type=text],
div.textwidget input[type=email],
div.textwidget textarea {
    background: transparent;
    height: 20px;
    width: 95%;
    padding: 5px;
    font-size: 12px;
    border:1px solid #dadada;
    margin-bottom: 10px;
    color:#dadada !important;
    outline-color: #6dd396;
}
div.textwidget textarea {
    height: 80px;
}

#contact_page input[type=text],
#contact_page input[type=email],
#contact_page textarea {
        background: transparent;
    height: 35px;width: 100%;
    padding: 5px;
    font-size: 12px;
    letter-spacing: 1.5px;
    border: 1.5px solid rgba(218, 218, 218, 0.7) !important;
    margin-bottom: 10px;
    outline-color: #6dd396 !important;
}
#contact_page textarea {
    height: 200px;
    width: 100%;
}
#contact_page form.wpcf7-form {
    width: 80%;
    max-width: 500px;
}

#contact_page input.wpcf7-form-control.wpcf7-submit {
    background: #000;
    color: #fff;
    border: 1px solid #000;
    text-transform: uppercase;
    font-size: 12px !important;
    font-weight: 500;
    padding: 10px 40px;
    transition: background 0.75s ease-in;
    width: 100%;
    letter-spacing: 2px !important;
    display: block;
    width: 200px;
}
#contact_page input.wpcf7-form-control.wpcf7-submit:hover {
    background: #fff;
    color: #000;
    border-color: #000;
}

/* Front Page
	 ========================================================================== */
.page_front_hero {
    height: 700px;
    width: 100%;
    background-size:cover;
    background-position: center;

}
.page_front_hero .wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
        display: flex;
  justify-content: center;
    flex-direction: column;
}
.page_front_hero h1 {
    color:#fff;
}
.page_front_hero p {
    color:#fff;
    margin-bottom: 35px;
}
.page_front_layer_top {
    background-size:cover;
    width: 100%;
}
.page_front_layer_top .overlay {
    background: rgba(0, 0, 0, 0.9);
}
.page_front_layer_top .wrapper {
    padding-top: 100px;
    padding-bottom:100px;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}
.page_front_intro {
    text-align: center;
}
.page_front_intro p {
    color:#fff;
    margin-bottom: 35px;
}

.page_front_layer_mid {
    padding-top: 100px;
    padding-bottom: 100px;
}
.page_front_product_switcher {
    overflow: hidden;
    padding-bottom: 50px;
}
.switcher_center {
    width: 60%;
    text-align: center;
    float: left;
    outline: 0;
}
.switcher_center img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 0 auto 30px;
    opacity: 0.25;
    transition: opacity 0.5s ease;
}
.switcher_center img.swatch {
    display: block;
    max-width: 70px;
    margin-top: 35px;
}
.switcher_center .slide_action {
    visibility: hidden;
}
.slick-current .slide_action {
    visibility: visible;
}
.slick-current img {
    opacity: 1;
}
.switcher_center p {
    color:#9e9d9e;
    margin-bottom: 35px;
}
.switcher_center p span.woocommerce-Price-amount.amount {
    font-size: 14px;
}
.switcher_left,
.switcher_right{
    width: 20%;
    float: left;
    opacity: 0.2;
}
.switcher_left img,
.switcher_right img {
    width: 100%;
    max-width: 200px;
}
.switcher_left img {
    margin-left: -5px;
}
.switcher_right {
    text-align: right;
}
.switcher_right img {
    margin-right: -5px;
} 

.page_front_layer_bottom {
    background:#f4f4f4;
}
.page_front_layer_bottom .wrapper {
    width: 85%;
    margin: 0 auto;
/*    overflow: hidden;*/
}
.page_front_process {
    padding-top: 75px;
    padding-bottom: 50px;
    position: relative;
}
.page_front_process_text {
    float: left;
    width: 40%;
}
.page_front_process_text h3 {
    margin-bottom: 15px;
}
.page_front_process_text p {
    font-weight: 500;
}
.page_front_process_graphic {
    float: left;
    width: 60%;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: -80px;
    margin: auto;
    z-index: 9;
}
.page_front_process_graphic img {
    width: 90%;
    max-width: 500px;

}
.page_front_process_graphic .slipped_on {
    display: none;
}
.slip_switch {
    width: 100%;
    margin-top: 30px;
    margin-left: 30px;
    
}
.slip_switch img {
    width: 90%;
    margin: 0 auto;
    max-width: 50px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
}
.slip_switch img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.greeny {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.slip_switch > div {
    float: left;
    width: 100px;
}

.instagram_board {
/*    padding-top: 100px;*/
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.instagram_board h1 {
    margin-bottom: 30px;
}
.instagram_board img{
    width: 31.3%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}


/* WOOCOMMERCE
	 ========================================================================== */
.woocommerce header.entry-header {
    display: none;
}
.woocommerce aside#secondary {
    display: none;
}

.product_summary h2 {
    text-transform: uppercase;
}
.single-product div.product {
/*    padding-top: 150px;*/
    width: 90%;
    margin: 0 auto;
}
.single-product .images {
    width: 50% !important;
    margin-right: 10%;
}
.single-product .product_summary {
    width: 40% !important;
}
.woocommerce div.product p.price, .woocommerce div.product span.price {
    color:#9e9d9e !important;
}
.woocommerce-product-details__short-description {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom:2px solid rgba(158, 157, 158, 0.2);
}

nav.navigation.post-navigation {
    display: none;
}


/* DEFAULT TEMPLATE
	 ========================================================================== */
.default_hero {
    height: 200px;
    width: 100%;
    background-size:cover;
    background-position: center;
    position:relative;
}
.default_hero .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.shade {
    background: rgba(93, 206, 139, 0.9);
    height: 100%;
}
.default_hero .overlay .wrapper {
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.default_hero .overlay .wrapper h1 {
    color:#fff;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 28px;
}
.default_container {
    width: 100%;
    overflow: hidden;
}
.default_content {
    background: #fff;
    width: calc(100% - 300px);
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
    float: right;
}
body.page-id-8 .default_content {
    background: #f4f4f4;
    margin-bottom: 100px;
}
.default_content .wrapper {
    width: 85%;
    margin: 0 auto;
}
.default_content h2 {
    font-weight: 500;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
body.page-id-96 .default_content {
    padding-top: 0;
}
body.page-id-96 .default_content h2 {
    display: none;
}

/* About
	 ========================================================================== */
.switchbox {
    width: 85%;
    margin: 75px auto;
}
.switchbox_uno {
    padding-top: 150px;
}
.switchbox_text {
    width: 50%;
    float: left;
}
.switchbox_text  p {
    width: 100%;
    margin: 0 auto;

}
.switchbox_pic {
    width: 50%;
    float: left;
}
.switchbox_pic_left {
    text-align: left;
}
.switchbox_pic_right {
    text-align: right;
}
.switchbox_pic img {
    width: 80%;
    margin: 0 auto;
}

/* Responsive
	 ========================================================================== */
@media screen and (max-width:950px) {
    .page_front_hero {
        height: 400px;
        text-align: center;
    }
    body.archive ul.products li.product h3 {
        height: auto;
        margin-bottom: 10px;
    }
    body.archive ul.products li.product .price {
        text-align: center;
    }
    .coupon {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    body.cart .product-name {
        margin: 0 auto;
        font-size: 15px;
    }
    body.cart a.remove {
        margin-left: 0;
    }
        .cart_totals h2 {
        text-align: center;
            font-size: 18px;
    } 
    body.cart a.button.alt {
        width: 100% !important;
        float: none;
        margin: 0 auto;
    }
    .woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
        padding: 15px 0 !important;
    }
    a.btn_transparent {
        margin: 0 auto;
    }
    .page_front_layer_top .wrapper {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .page_front_product_switcher {
        padding-bottom: 0;
    }
    .page_front_process_text {
        float: none;
        width: 100%;
    }
    .slip_switch {
        margin-left: 0;
    }
    .page_front_layer_bottom .wrapper {
        width: 90%;
    }
    .page_front_process {
        padding-top: 50px;
    }
    .page_front_process_graphic {
        bottom: -35px;
    }
    
    .instagram_board {
        padding-top: 100px;
    }
    footer {
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .default_content {
        width: 100%;
        float: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    aside#secondary {
        float: none;
        height: auto;
        padding-top: 50px;
        padding-bottom: 50px;
        max-width: 100%;
        min-height: auto;
    }
    .switchbox_uno {
        padding-top: 0;
    }
    .switchbox {
        margin-top:0;
        width: 95%;
        text-align: center;
    }
    .switchbox_pic,
    .switchbox_text{
        width: 100%;
        float: none;
    }
    .footer_left, .footer_right,
    .footer_center{
        width: 100%;
        float: none;
        margin: 0 auto;
    }
    .footer_left img {
        width: 100px;
    }
    .footer_center ul li {
        display: block;
    }
    .footer_news input[type=email] {
        display: block;
        width: 99%;
    }
    .footer_news input[type=submit] {
        display: block;
        width: 100%;
    }
    footer {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    div#responsive-menu-container {
    padding-top: 100px;
    text-transform: uppercase;
    }
    .woocommerce table.shop_table_responsive tr td, .woocommerce-page table.shop_table_responsive tr td {
        text-align: center !important;
    }
    .woocommerce table.shop_table_responsive tr td::before, .woocommerce-page table.shop_table_responsive tr td::before {
        display: none;
    }
    td.product-thumbnail {
        display: block !important;
    }
    .woocommerce .col2-set .col-1, .woocommerce-page .col2-set .col-1, .woocommerce .col2-set .col-2, .woocommerce-page .col2-set .col-2,
    div#order_review{
        width: 100% !important;
    }
    h3#order_review_heading {
        margin: 0 auto;
    }
    .woocommerce-checkout aside#secondary {
        min-height: auto;
    }
    .single-product .images,
    .single-product .product_summary{
        width: 100% !important;
        margin-right: auto;
        text-align: center;
    }
    .single-product div.product {
        padding-top: 50px;
    }
    .woocommerce div.product form.cart .button {
        float: none;
    }
    #contact_page form.wpcf7-form {
        width: 95%;
    }
    .woocommerce div.product div.images.woocommerce-product-gallery {
    margin-bottom: 2em !important;
}
    .content-area {
        margin-top: 100px;
    }
}











